*{
    border: 0;
    margin: 0;
    padding: 0;
}

.form_container{
   background-color: #C8C8C8;
}

#form_decorImage{
    float: left;
    overflow: hidden;
    width: 45%;
    height: auto;
    margin: 5%;
}

#form_questionForm{
    float: right;
    width: 50%;
    border-style: double;
    border-width: 5px;
    border-color: #000000;
    margin: 5%;
}

tr:nth-child(even) {
    background-color: #CFF;
}

tr:nth-child(odd) {
    background-color: #FFF;
}

tr:nth-child(even) > a {
    background-color: #CFF;
}

tr:nth-child(odd) > a {
    background-color: #FFF;
}