* {
    border: 0;
    margin: 0;
    padding: 0;
}

#Header_Container {
    display: flex;
    width: 100%;
    height: 30%;
}

#Hero_Homepage {
    width: 70%;
    height: 100%;
    display: block;
    margin: auto;
    position: relative;
}

#Hero_Homepage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Hero_Homepage>.Hero_Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-family: "Poppins", serif;
    width: auto;
    height: auto;
    text-align: center;
}

.Hero_Text>h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    word-spacing: 1rem;
    letter-spacing: 0.1rem;
}

.Hero_Text>h2 {
    font-size: 3rem;
    line-height: 1.2;
    word-spacing: 0.75rem;
    letter-spacing: 0.15rem;

}

.Aside_Homepage {
    width: 15%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Aside_Homepage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* main */
.grid_Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 50px;
}

.grid_Container article {
    width: 100%;
    display: flex;
    background-color: #C8C8C8;
    border-radius: 10px;
    overflow: hidden;
}

/* image section */
.grid_Container .image_section {
    flex: 1;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.grid_Container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5%;
}

/* text section */
.grid_Container .text_section {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    position: relative;
}

.grid_Container figure {
    width: 100%;
    text-align: center;
}

.grid_Container figcaption {
    font-family: "Raleway", sans-serif;
}

.grid_Container h5 {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Poppins", serif;
    margin: 10px 0;
}

.grid_Container p {
    text-align: left;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    text-indent: 5%;
}

.grid_Container button {
    text-align: center;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    background-color: #55FD90;
    position: absolute;
    padding: 10px;
    bottom: 40px;
    right: 40px;
    width: 30%;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

.grid_Container button:hover {
    background-color: #FF9E3E;
}

.grid_Container a {
    text-decoration: none;
    background: transparent;
    color: #000000;
}

/* media query ding */

@media (max-width: 768px) {

    img {
        display: none;
    }

    #Header_Container {
        display: none;
    }

    .grid_Container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
        height: auto;
    }

    .grid_Container article {
        margin: 20px 0;
        flex-direction: column;
        height: auto;
    }

    .grid_Container img {
        height: auto;
    }

    .grid_Container h5 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .grid_Container p {
        font-size: 0.9rem;
        margin: 1rem 0;
    }

    .grid_Container button {
        width: 50%;
        margin: 1rem auto;
        position: relative;
        bottom: auto;
    }

    .grid_Container figure {
        display: none;
    }
}