*{
    border: 0;
    margin: 0;
    padding: 0;
}

#Header_Container{
    display: flex;
    width: 100%;
    height: 30%;
}

#Hero_Homepage {
    width: 70%; 
    height: 100%; 
    display: block; 
    margin: auto;
    position: relative;
}

#Hero_Homepage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Hero_Homepage > .Hero_Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #FFFFFF;
    font-family: "Poppins", serif;
    width: auto;
    height: auto;
    text-align: center;
}

.Hero_Text > h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    word-spacing: 1rem;
    letter-spacing: 0.1rem;
}

.Hero_Text > h2 {
    font-size: 3rem;
    line-height: 1.2;
    word-spacing: 0.75rem;
    letter-spacing: 0.15rem;

}

.Aside_Homepage {
    width: 15%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Aside_Homepage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid_Item {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_Item article {
    display: flex;
    background-color:  #C8C8C8;
    border-radius: 10px;
    overflow: hidden;
}

/* image section */
.grid_Item .image_section {
    flex: 1;
    padding-right: 20px;
}

.grid_Item img {
    width: 80%;
    height: 50%;
    object-fit: cover;
}

/* tects section */

.grid_Item .text_section {
    flex: 2;
    text-align: left;
}

/* figure/caption */
.grid_Item figure {
    width: 100%;
    text-align: center;
}

.grid_Item figcaption {
    font-family: "Raleway", sans-serif;
}

.grid_Item h5 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 5% 5% 5%;
}

.grid_Item p {
    text-align: left;
    font-size: 1rem;
}

.grid_Item .redirect_button a {
    text-decoration: none;
    background: transparent;
    color: #000000;
}
