@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Poppins font (headers) */
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

/* Raleway (regular text) */

.Raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Raleway-regular-italic {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: italic;
}

/* Raleway (thin) */
.Raleway-thin {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.Raleway-thin-italic {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    font-style: italic;
}


/* body */
body {
    background-color: #FFFFFF;
    position: static;
}

/* logo website */
.Logo_Website {
    display: flex;
    justify-content: flex-start; 
    width: 180px;
    padding: 0 100px;
}

.Logo_Website img {
    height: auto;
}